body,
html {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  max-width: 1540px;
  height: 200vh;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  width: 100%;
  height: 3%;
  background-color: #DCDCDC;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

a {
  padding-left: 5%;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 30px;
}

.icons {
  font-size: 25px;
  margin: 10px;
}

input {
  width: 350px;
  height: 20px;
  margin-top: 8px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.stories1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
}

.stories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 40%;
  height: 100%;
  margin: 1%;
  margin-left: 20%;
  border: grey solid 1px;
  background-color: white;
  overflow: hidden;
  transition: 1s;
}

.chevron {
  position: absolute;
  left: 58%;
  top: 12%;
  width: 25px;
  height: 25px;
  font-size: 20px;
}

.pp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 2% 2%;
}

.post {
  width: 100%;
}

.profile {
  position: absolute;
  transform: translate(30%, 0);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.igpost {
  width: 40%;
  height: auto;
  margin: 3%;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  border: grey solid 1px;
}

.ppost {
  justify-content: flex-start;
  flex-grow: 1;
  margin: 5px;
  padding-left: 0;
}

.fa-ellipsis-v {
  flex-grow: 1;
  text-align: right;
  margin: 10px;
  font-size: 15px;
}

.eg-save {
  flex-grow: 1;
  text-align: right;
  margin: 5px;
  font-size: 25px;
}

.eg {
  margin: 5px;
  font-size: 25px;
}

.photo {
  height: auto;
  max-width: 100%;
  display: block;
}

h1 {
  flex-grow: 1;
  padding-left: 60px;
  font-size: 12px;
  margin-top: 2%;
}

span {
  margin: 5px;
  font-size: 13px;
  width: 100%;
}

.comment {
  display: flex;
  flex-direction: row;
  border-top: grey solid 1px;
  width: 100%;
}

.com {
  background: white;
  border: none;
  flex-grow: 1;
}

.smile {
  font-size: 20px;
}

textarea {
  border: none;
  width: 80%;
}

button:hover {
  background-color: #87CEFA;
}

.com1 {
  display: inline-block;
  margin: 5px;
}

.com3 {
  font-weight: bold;
}

.liked {
  color: red;
}

.logout {
  border-top: grey solid 2px;
}

.active {
  width: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background-color: white;
  margin: 10px;
  margin-right: 10%;
  padding: 20px;
  float: right;
}


.shortcut {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

.blueprint {
  display: none;
}